css#düst {
float: left;
	width: auto;
	height: 50px;
	z-index: 1;
	/*! background-color: #FFBB19; */
		overflow: auto;
  margin-top: 0px;
/*! padding: 5px; */
/*! margin-left: 220px; */

  @import url('https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding');

      }
#düst li{
   float: left;
  padding: 10px;
  background-color: #f2ad08;
  margin: 5px;
   list-style: none;
}
#düst li a {
  text-decoration: none;
  color: white;
}
#men1  {
	width: auto;
	z-index: 100;


	/*! border-radius: 130px 130px 0px 0px; */
	height: auto;
	float: left;
	/*! background-color: #a3aebf; */
	position: absolute;
	top: 40px;
	left: 840px;
}

#alt1 {
	float: left;
	width: 800px;
	height: auto;
	z-index: 1;
	 background-color: #fff;

	color: #1d1d18;
	padding-left: 10px;
	/*! overflow: scroll; */
	padding-bottom: 40px;
	position: relative;
	margin-left: 20px;
	/*! border: dashed red 2px; */
	border-radius: 20px;
	margin-top: 3px;
	border-top: none;
}
#a_men {
	width: auto;
	float: left;
	margin: 0px;
}
#a_men li{
    float: left;
font-weight: bold;
float: left;
width: auto;
list-style: none;
    margin: 3px;
    height: auto;
    text-align: center;
    margin-left: 25px;
    background-color: #ffe497;
    padding: 20px;
}
#a_men li:hover{
    border-radius: 5%;

}
#a_men li a{
    text-decoration: none;
    color:#000;
}
.a_div {
	width: 390px;
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	/*! border: dashed 1px #fb9817; */
	padding: 14px;
	border-radius: 10px;
}
.a_div input {
	 margin-top: 1px;
  border: 1px solid #fff;
    border-radius: 5px;
  cursor: pointer;
	 background: #eaeaea;
	 height: 2px;
}
.a_div1{
	width: 100%;
	float: left;

	margin-bottom: 30px;
}
.a_div1 a {
text-decoration:none;
color: #5d5d5d;
}
.a_div1 a:hover{
	padding: 5px;
	border: dashed 5px orange;
}

.a_div2{
	width: 80%;
	float: left;
	margin-left: 190px;
	height: 30px;
	background-color: white;
	border-radius: 20px 20px;
}

#yf {
	position: absolute;
	left: 1193px;
	width: 200px;
	height: 300px;
	z-index: 1;
	background-color: rgb(224, 208, 36);
	cursor: move;
	resize: both;
	overflow: auto;
	top: 210px;
}
#altbody{
}
body{
	top: 0px;
	left: 0px;color: #0e0c0c;
         font-family:CamingoCode,arial,sans-serif;
	/*! background-image: url('http://yemreyesilyurt.com/srs/bg.png'); */
	background-attachment: fixed;
	/*! background-repeat: no-repeat; */
	margin: 0px;
	padding: 0px;
	background-position: left;
	background-color: #dbe0e0;
}
 .yuvarlak li , #kli li    {


font-weight: bold;
float: left;
padding-top: 13px;
padding-bottom: 12px;
padding-left: 15px;
list-style: none;
		/*! border-radius: 0px 50px 50px 0px; */
		margin-left: 20px;
		width: auto;
		padding-right: 10px;
		margin-top: 10px;
		/*! border-bottom:dashed #b7b7b7 2px; */
		text-align: right;
/*! background-color: #f0f0f0; */
margin-bottom: 10px;
background-color: #f7f8f6;
border-radius: 20px;
}


.men1 li{
font-weight: bold;
float: left;
padding-top: 13px;
padding-bottom: 12px;
padding-left: 20px;
list-style: none;
		/*! border-radius: 0px 50px 50px 0px; */
		margin-left: 5px;
		width: auto;
		padding-right: 10px;
		margin-top: 10px;
	//	border-bottom:solid #c61610 2px;
		text-align: right;
/*! background-color: #f0f0f0; */
margin-bottom: 10px;

}
.men1 li a , .yuvarlak li a , #kli li a {
	text-decoration: none;
	color: #051380;
}
.men1 li:hover,.yuvarlak li:hover ,#düst li:hover  , #kli li:hover{
	list-style: inside;
	list-style-image: url('as.png');
	/*! background-color: #f9bb4f; */
	border-right: solid white 40px;
	border: none;
}

#oval{
  padding:0;
  position:relative;
  width:10em;
  height:10em;
  /*! box-shadow:2px 3px 8px rgba(0,0,0,0.89); */
  border-radius:100%;
  float: left;
  margin-top: 16px;
  margin-bottom: 80px;
}
#oval li{
  position:absolute;
  list-style:none;
  width:5em;
  height:5em;
  color:#fff;
  text-align:center;
  line-height:1em;
 /* opacity:0.5; */
  -webkit-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  transition:all 0.5s ease;
  padding: 0px;
}
#oval li:hover{
cursor:pointer;
}
#oval li:nth-child(1):hover,#oval li:nth-child(2):hover{
    width:10em;
  height:10em;
  top:0em;
  left:0em;
  line-height:4em;
  background:#999;
  /* opacity:1; */
  border-radius:100%;
  z-index:19;
}
#oval li:nth-child(3):hover,#oval li:nth-child(4):hover{
    width:10em;
  height:10em;
  top:0em;
  left:0em;
  line-height:4em;
  background:#90f;
  /* opacity:1; */
  border-radius:100%;
  z-index:19;
}
#oval li:nth-child(5):hover{
    width:10em;
  height:10em;
  top:0em;
  left:0em;
  line-height:4em;
  background:#90f;
  /* opacity:1; */
  border-radius:100%;
  z-index:19;
}
#oval li:nth-child(1){
  top:0px;
  left:0;
  background:#90f;
  border-top-left-radius:100%;
}
#oval li:nth-child(2){
  top:0em;;
  left:5em;
  background:#09f;
  border-top-right-radius:100%;
}
#oval li:nth-child(3){
  top:5em;
  left:0;
  background:#0f9;
  border-bottom-left-radius:100%
}
#oval li:nth-child(4){
  top:5em;
  left:5em;
  background:#f09;
  border-bottom-right-radius:100%
}
#oval li:nth-child(5){
  width:4em;
  height:4em;
  top:3em;
  left:3em;
  line-height:4em;
  background:#999;
  /* opacity:1; */
  border-radius:100%;
  z-index:11;
}
.bildirim{


	float: left;
	width: 43%;
	margin: 0px;
	color: #0e4eaa;
	text-shadow: 1px -6px 3px #565454;
	text-transform: full-width;
}
.men1 h1 {
  margin: 0px;
  padding: 13px;
  /*! text-shadow: 1px 1px #939090; */
  /*! background-color: #d7d5d5; */
  width: auto;
  float: left;
  color: #4b4b4b;
  text-transform: full-width;
}
.etiket{

  z-index: 1;
  width: 50;
  display: block;
  overflow: hidden;
  /*! background: linear-gradient(120deg, rgb(14, 78, 170) 91%, #f8890e00 30%); */
  position: absolute;
  top: 528px;
  left: 891px;
  padding: 10px;
  width: 340px;
  border-radius: 0px 1px 10px 20px;
  /*! border-top: none; */
  background-color: #f1f4f5;
}
.yorumlar{
  float: left;

  z-index: 100;
  width: 832px;
  background-color: #838383;
  margin-right: 500px;
  padding-bottom: 20px;
}

.etiket span{
  float: left;
  padding-right: 7px;
  /*! margin: 3px; */
  color: #77716a;
  font-size: larger;
  cursor: pointer;
}
#yuvarlak{
	background-color: #ddd;
        float: left;
	display: none;
}
.sag {

  width: 100%;
  z-index: 99;
  height: 100%;
  float: left;
  /*! background-color: #0e4eaa; */
  border-bottom: dashed #d5d5d5 2px;
  border-radius: 50px;
  margin-top: 0px;
}
.sag li {
  list-style: none;
 text-align: left;
  margin: 0px;
  text-transform: capitalize;
  padding: 14px;
  /*! background: rgb(204, 42, 42); */
  /*! border-right: solid #dadada 20px; */
  float: left;
  z-index: 99;
  /*! width: 154px; */
  color: blue;
}
.sag li a {
 text-decoration: none;
 color: red;
}
.sag li:hover {
  /*! border-bottom: dashed #ab1111 1px; */
  /*! background-color: gray; */
  /*! border-top:solid 15px #d5d5d5; */
  /*! margin-top: -6px; */
  border-right: #9c9c9c dotted 2px;
  margin-top: -5px;
}
#kli {
  width: 700px;
}
.sol1{
  position: absolute;
  top: 504px;
  width: auto;
  left: 999px;
  z-index: 11;
}
.sol1 li {
  list-style: none;
  width: auto;
  float: left;
  padding: 1px;
  margin: 1px;
  color: #030303;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 77%,rgb(233, 233, 233) 77%);
  box-shadow: 5px -6px 5px #e3e3e3;
}
.sol1 li  a{
   text-decoration: none;
  color:#e04f4f;


   display: block;
   padding: 13px;
   font-weight: bolder;
   cursor: pointer;
}
#i_gonder input{
  float: left;
  border: none;
  margin-right: 40px;
  padding: 10px;
  /*! border-radius: none; */
  margin-bottom: 20px;
  background-color: #f1f4f5;
  color: #561616;
  font-size: medium;
}
#i_gonder textarea {
  border: none;
  padding-top: 24px;
  padding-left: 20px;
  background-color: #f7f8f6;
  color: #020101;
  font-size: medium;
}
.ps {
  width: 280px;
  position: absolute;
  top: 105px;
  left: 970px;
  z-index: 99;
  color: white;
  height: 210px;
  border-left: dashed #1553a5 3px;
  border-right: dashed #1553a5 3px;
  display: none;
}
.pano  {
width: 372px;
position: absolute;
top: 110px;
left: 877px;
z-index: 10;
color: #000;

  font-family: 'Nanum Gothic Coding', monospace;
  padding: 10px;
  font-weight: lighter;
  display: block;
/*! background: linear-gradient(20deg, rgb(213, 213, 213) 85%, #f8890e00 10%); */
height: 400px;
/*! border: dashed gray 2px; */
border-radius: 20px;
border-top: none;
background-color: #f7f8f6;
}
#pano2{
  top: 420px;
height: 550px;
width: 400px;
left: 870px;
background-color: #ffffffb3;
box-shadow: none;
}
.yorumlar b {
  float: left;
  width: 208px;
  background-color: #1553a5;
  padding: 4px;
  color: #fff;
  font-weight: bolder;
  text-transform: full-width;
  text-indent: 30px;
  padding-left: 0px;
  margin-right: 290px;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: lighter;
}
.yorumlar span{
  float: left;
  width: 100%;
  /*! padding: 5px; */
  font-family: 'Nanum Gothic Coding', monospace;
  color: #15aef5;
  text-indent: 50px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #fff;
  /*! border-radius: 0px 0px 100px 0px; */
  margin: 0px;
}
.yorumlar p{
  float: left;
  width: 100%;
  /*! background-color: #e4e4e4; */
  padding: 15px;
  padding-left: 0px;
  text-align: left;
  padding-right: 0px;
  margin: 0px;
  color: #1553a5;
  font-family: 'Nanum Gothic Coding', monospace;
  font-weight: lighter;
}
.ysutun {
  float: left;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.dy{
  float: left;
  width: 100%;
}
.dy span {

  float: left;
padding: 11px;
width: auto;
/*! background-color: #d5d5d5; */
margin-bottom: 0px;
  border: dashed #0540b9 1px;
  border-radius: 50px;
}
.pano #olay {
  background-color: #1553a5;
  margin-top: 10px;
  margin-bottom: 10px;
padding: 10px;
  border: none;
  color: white;
}
.date{
position: inherit;
  width: 80%;
float: left;
left: 20px;
/*! border: dashed gray 4px; */
border-radius: 30px;
}

.date span {
  float: left;
padding: 14px;
width: 89%;
/*! background-color: #0f2442; */
margin-bottom: 0px;
margin-left: -10px;
  color: #1e5b74;
}
